---

name: "Code Quality: TypeScript"

on:
  push:

jobs:
  nodejs:
    name: Node.js
    runs-on: ubuntu-latest

    env:
      PACKAGES: "@vercel/ncc prettier"

    strategy:
      # see https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstrategyfail-fast
      fail-fast: false
      matrix:
        node-version:
          - 20.x

    steps:
      - name: Checkout Repository
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          fetch-depth: 1

      - name: Set up Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install global NPM packages
        run: npm install --global ${PACKAGES}

      - name: Install Action-specific NPM Packages
        run: npm install-clean

      - name: Build TypeScript code
        run: |
          npm run-script fmt \
          && \
          npm run-script build
